*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

body {
  width: 100%;
  min-height: 100vh;
}

/**************  LOGIN START **************/

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 55%;
  height: 70%;
  border-radius: 10px;
  border: 2px solid white;
  padding: 30px;
}

form h1 {
  letter-spacing: 2.5px;
}

form .input-container {
  display: grid;
  gap: 20px;
  width: 55%;
  /* border: 1px solid red; */
}

form .input-container input {
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 25px;
}

form .input-container input::placeholder {
  letter-spacing: 1.5px;
}

form .input-container .message {
  display: none;
}

form .input-container .message.show {
  display: inline-block;
  text-align: center;
}

form .button-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 50%;
}

form .button-container :where(a, button) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
  text-decoration: none;
}

form .button-container a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}
/**************  LOGIN END **************/

/**************  TODO START **************/
.logout {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.todo-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
  max-width: 513px;
  height: 80%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.todo-app .add-todo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: min-content;
  /* border: 1px solid white; */
  border-radius: inherit;
}

.todo-app .add-todo-container :where(input, button) {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.todo-app .add-todo-container input {
  width: 60%;
  outline: none;
}

.todo-app .add-todo-container input::placeholder {
  text-transform: uppercase;
}

.todo-app .add-todo-container button {
  width: 30%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.todo-app .todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  border-radius: inherit;
  overflow-y: scroll;
}

.todo-list-container::-webkit-scrollbar {
  display: none;
}

.todo-app .todo-list-container span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  list-style: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.todo-app .todo-list-container span .button-container {
  display: flex;
  gap: 10px;
}

.todo-app .todo-list-container span .button-container :where(.delete, .edit) {
  width: 50%;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

/**************  TODO END **************/

/**************  MODAL START **************/
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.8);
  z-index: 1;
}

.modal-container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-container .modal :where(input, button) {
  width: 40%;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
}

.modal-container .modal input {
  width: 60%;
}

.modal-container .modal button {
  width: 40%;
  cursor: pointer;
}

/**************  MODAL END **************/

/************** MOBILE  START **************/
@media (max-width: 612px) {
  form {
    width: 90%;
  }

  form .input-container {
    width: 100%;
  }

  form .button-container {
    width: 100%;
  }

  .todo-app {
    width: 90%;
  }
}

/************** MOBILE  END **************/
